bindings/src/main/resources/wsdl/xsd/addnumbersresponse.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.tcs.com/service/webservice/addnumbers/addnumbersresponse/response"  targetNamespace="http://www.tcs.com/service/webservice/addnumbers/addnumbersresponse/response">
	
	<!-- addnumbersresponse -->
	<xs:element name="addnumbersresponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="status" type="xs:string" minOccurs="1"/>				
				<xs:element name="result" type="xs:int" minOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>
